@keyframes moving_downward_and_fading_in_and_out {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1
    }

    40% {
        transform: translateY(100px) scale(.5);
        opacity: 0
    }

    60% {
        transform: translateY(-50px) scale(.95);
        opacity: 0
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1
    }
}

.down_animation {
  display: block;
  animation: moving_downward_and_fading_in_and_out 2s linear infinite;
}

/***********THINGS TO ANIMATE***********/

.down_arrow {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  top: 50px;
  background-image: url('https://s3.us-east-2.amazonaws.com/ui-icons/white/down-arrow.svg');
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
