/*********BEGIN BASE ELEMENTS**********/
html, body {
  margin: 0;
  padding: 0;
  min-width: 230px;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  color: #000;
  user-select: none;
  background-color: #eee;
}
h1, h2, h3 {
  line-height: .85em;
}
h1, h2, h4 {
  font-family: 'NeutrafaceDisplayTitling';
}
h1 {
  font-size: 2.25em;
  margin-top: 0;
}
main section h1.site_title {
  font-size: 8vw;
  margin: 0;
  margin-top: 30px;
}
main section h1 {
  font-size: 3.5em;
}
h2 {
  text-align: center;
  font-size: 2em;
  margin: 30px auto 10px;
}
h3 {
  font-family: 'NeutrafaceTextBold';
  font-size: 1.75em;
}
h3.light_italic {
  font-family: 'NeutrafaceTextLightItalic';
  font-size: 1.5em;
}
h4 {
  font-size: 2em;
}
p, li {
  b {
    font-family: 'NeutrafaceDisplayTitling';
  }
  margin: auto;
  font-family: 'NeutrafaceTextBook';
  font-size: 1.5em;
  text-align: justify;
  border-radius: 6px;
}
p {
  line-height: 2em;
  text-align: center;
  //flex: 1;
}
li {
  line-height: .85em;
}
a:visited,
a:focus,
a {
	text-decoration: none;
  color: #FFF800;
  outline: none;
  display: inline-block;
}
li {
  font-family: 'NeutrafaceTextBook';
	list-style: none;
  font-size: 1.15em;
}
.layout {
  display: flex;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 18px 0 rgba(0,0,6,.66);
  z-index: 2;
  font-family: 'NeutrafaceDisplayTitling';
  background-color: #000;
}
nav a {
  color: #FFF800;
}
main {
  margin: 0 60px;
	background: #EEE;
  flex: 1;
  display: flex;
  flex-direction: column;
}
section {
  margin-top: 60px;
  border-bottom: 1px solid #000;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  text-align: center;
}
section.home_section {
  margin-top: 0;
}
section.home_section > div {
  position: relative;
}
section:last-of-type {
  border-bottom: none;
  min-height: calc(100vh - 161px);
}

footer {
  color: #FFF800;
  min-height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  border-top: 1px solid #FFF800;
  background-color: #000;
  font-family: 'NeutrafaceDisplayTitling';
}

@media only screen  and (min-width : 320px) and (max-width : 600px)  {
  main section h1 {
    font-size: 2.5em;
  }
}

@media only screen  and (min-width : 320px) and (max-width : 1224px)  {
  main.scrollable section:first-of-type {
    min-height: calc(100vh - 161px);
  }
  .layout {
    flex-direction: column;
  }
}

@media only screen  and (min-width : 1225px) {
  nav {
    width: 250px;
  }
}
