
span.icon {
  width: 75px;
  height: 50px;
  margin: 0px;
  display: block;
  position: relative;
  z-index: 1;
  left: calc(100% - 60px);
  top: 82px;
  background-size: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
span.icon.edit.home_edit_icon {
  left: calc(100% - 150px);
  top: 200px;
}
span.icon.plus.circle {
  top: -50px;
  background-image: url(https://s3.us-east-2.amazonaws.com/ui-icons/grey/plus-circle.svg);
}
span.icon.edit {
  background-image: url(https://s3.us-east-2.amazonaws.com/ui-icons/grey/edit.svg);
}
span.icon.edit.close {
  background-image: url(https://s3.us-east-2.amazonaws.com/ui-icons/grey/x-circle.svg);
}
.skilllit_logo {
  width: 250px;
  height: 175px;
  display: block;
  //border-radius: 50%;
  background-size: 250px;
  background-position: 50% 70%;
  //box-shadow: 0 0 60px rgba(0, 0, 0, .6);
  background-repeat: no-repeat;
  margin: 0px auto 30px auto;
  cursor: pointer;
}

.menu_icon {
  width: 50px;
  height: 50px;
  margin: 0px;
  display: block;
  background-size: 25px;
  background-position: 50%;
  background-repeat: no-repeat;
  top: 20px;
  cursor: pointer;
}

.menu_icon {
  background-image: url(https://s3.us-east-2.amazonaws.com/ui-icons/grey/ellipsis.svg);
}

.menu_icon.close {
  background-image: url(https://s3.us-east-2.amazonaws.com/ui-icons/grey/x-circle-small.svg);
}

.download-resume {
  background-image: url(https://s3.us-east-2.amazonaws.com/ui-icons/black/download.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  flex: 100px;
}

@media only screen  and (min-width : 320px) and (max-width : 700px) {
  .site_logo {
    width: 250px;
    height: 180px;
    background-size: 250px;
    background-position: 50% 70%;
  }
}

@media only screen  and (min-width : 701px) and (max-width : 1224px) {
  .site_logo {
    height: 180px;
  }
}
