section.experience {
  border-bottom: 1px solid #ccc;

  .job {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .job_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .job_header > div {
    flex: 1;
    text-align: center;
  }
  .job_title {
    display: flex;
    white-space: nowrap;
  }
  .project_details_tab_container,
  .project_details {
    width: 100%;
  }
  .project,
  .skill {
    line-height: 1.25em;
    margin-bottom: 1.5em;
    text-align: left;
    list-style-type: square;
    position: relative;
  }
}
.projects,
.skills {
  display: none;
  width: 100%;
  font-family: 'NeutrafaceTextBook';
  font-size: 1.15em;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    div:first-child {
      display: block;
      flex: 1;
    }
    div.last-child {
      flex: 50px;
      margin-left: auto;
    }
  }
}
.projects.show,
.skills.show {
  display: block;
}
ul.item_menu {
  margin: 0;
  position: absolute;
  top: 30px;
  right: 50px;
  display: block;
  background: #666;
  color: #FFF;
}
ul.item_menu li {
  margin: 10px;
  cursor: pointer;
  &:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
    border-radius: 0;
  }
}

@media only screen  and (min-width : 901px) {
  .projects,
  .skills {
    display: block;
  }
}
