.button {
	width: 100%;
	padding: 15px;
	font-family: 'NeutrafaceDisplayTitling';
	text-shadow: 1px 1px 3px rgba(60, 60, 60, 0.6);
	font-size: 24px;
	cursor: pointer;
	outline: none;
	background-color: #666;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	display: block;
}
button:disabled,
button[disabled]:hover,
button[disabled]{
  background-color: #cccccc;
  color: #999;
	cursor: auto;
	text-shadow: none;
	border-radius: 6px;
}
a.button.selected,
a.button:hover,
button.button.selected,
button.button:hover {
	color: #FFF;
  background-color: #333;
}
a.button {
	display: inline-block;
	width: calc(100% - 40px);
	text-align: center;
	color: #000;
}
button.button__small {
	border: none;
	background-color: #666;
	color: #FFF;
	text-shadow: none;
	border-radius: 6px;
	font-size: 16px;
	padding: 10px;
}

button.button__small:hover {
	border: none;
}
.button__add--inventory {
	width: 40px;
	height: 40px;
  background-color: transparent;
  color: #fff;
  padding: 5px;
  font-family: 'NeutrafaceTextBold';
  font-size: 1.25em;
  margin-left: 2px;
  text-align: center;
	border: 1px solid white;
	border-radius: 6px;
  //box-shadow: 0 0 18px 0 rgba(0, 0, 6, 0.66);
  background-image: url(/assets/icon-plus-white.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 50% 50%;
	cursor: pointer;
}
.button__add--inventory.show {
	width: 40px;
	height: 40px;
  background-color: transparent;
  color: #fff;
  padding: 5px;
  font-family: 'NeutrafaceTextBold';
  font-size: 1.25em;
  margin-left: 2px;
  text-align: center;
	border: 1px solid white;
	border-radius: 6px;
  //box-shadow: 0 0 18px 0 rgba(0, 0, 6, 0.66);
	background-image: url(/assets/icon-minus-white.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 50% 50%;
	cursor: pointer;
}
.form__login .button {
	margin: 0 auto;
}
